<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chat page</title>
  <link href="chatpage.css" rel="stylesheet">
</head>

<body> 
 
      
     <div id="list" class="madhu"></div>
     <form class="product-form"  method="POST" onsubmit="chatData(event)">
      <div class="form-control">
       
        <label for="message"></label>
      <input id="message" type="message" name="message">
     
    
      <button class="btn" type="submit" >Send</button> 
    </div>
</form>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
<script src="chat.js"></script>
</body>
</html>