<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="signup.css" rel="stylesheet">
</head>
<body>
  <main> 
    <h2>Sign Up here</h2>
      <form class="product-form"  method="POST" onsubmit="signup(event)">
         <div class="form-control">
            <label for="name">Name</label>
             <input id="name" type="text" name="name" required/>
          </div>
          <div class="form-control">
            <label for="email">Email</label>
            <input id="email" type="text" name="email" required/>
          </div>
          <div class="form-control">
            <label for="pnonenumber">Phone Number</label>
            <input id="Phonenumber" type="text" required />
          </div>
          <div class="form-control">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" required/>
          </div>
           <button class="btn" type="submit">Sign Up</button>
     </form>
  </main>
      <p><h4>Already have an account?</h4></p>
     <p><a href="login.html">login</a></p>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
  <script src="signin.js"> </script>
</body>
</html>